In [36]:
# Importar las librerias
import pandas as pd

In [38]:
# Reading the csv file
df = pd.read_csv("StudentsPerformance.csv")

In [40]:
# Mostrando el dataframe
print("\033[1;34m" + "DATAFRAME" + "\033[0m\n")
df

DATAFRAME

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

# Atributos

In [5]:
# Atributo shape
print("\033[1;35m" + "shape" + "\033[0m")
df.shape

shape

(1000, 8)

In [6]:
# Atributo index
print("\033[1;35m" + "index" + "\033[0m")
df.index

index

RangeIndex(start=0, stop=1000, step=1)

In [7]:
# Atributo columns
print("\033[1;35m" + "columns" + "\033[0m")
df.columns

columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [8]:
# Mostrar nombre de las columnas
print("\033[1;35m" + "columns.values" + "\033[0m")
print(df.columns.values)

columns.values
['gender' 'race/ethnicity' 'parental level of education' 'lunch'
 'test preparation course' 'math score' 'reading score' 'writing score']

In [9]:
# Tipo de dato de cada columna
print("\033[1;35m" + "dtypes" + "\033[0m")
df.dtypes

dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

# MÃ©todos

In [11]:
# Mostrar las 5 primeras filas
print("\033[1;34m" + "head(n)" + "\033[0m")
print("\033[1;35m" + "Mostrar n nÃºmero de filas" + "\033[0m\n")
df.head()

head(n)
Mostrar n nÃºmero de filas

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [12]:
# Mostrar informaciÃ³n del dataframe
print("\033[1;34m" + "info()" + "\033[0m")
print("\033[1;35m" + "Mostrar informaciÃ³n" + "\033[0m\n")
df.info()

info()
Mostrar informaciÃ³n

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [13]:
# obteniendo valores estadisticos del dataframe
print("\033[1;34m" + "describe()" + "\033[0m")
print("\033[1;35m" + "Obtener valores estadÃ­sticos" + "\033[0m\n")
df.describe()

describe()
Obtener valores estadÃ­sticos

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

# Funciones

In [15]:
# Obtener tamaÃ±o del dataframe (filas)
print("\033[1;34m" + "len(dataframe)" + "\033[0m")
print("\033[1;35m" + "Obtener el tamaÃ±o del dataframe" + "\033[0m")
len(df)

len(dataframe)
Obtener el tamaÃ±o del dataframe

1000

In [16]:
# Obtener mÃ¡ximo index
print("\033[1;34m" + "max(dataframe.index)" + "\033[0m")
print("\033[1;35m" + "Obtener mÃ¡ximo index" + "\033[0m")
max(df.index)

max(dataframe.index)
Obtener mÃ¡ximo index

999

In [17]:
# Obtener mÃ­nimo index
print("\033[1;34m" + "min(dataframe.index)" + "\033[0m")
print("\033[1;35m" + "Obtener mÃ­nimo index" + "\033[0m")
min(df.index)

min(dataframe.index)
Obtener mÃ­nimo index

0

In [18]:
# Obtener tipo de dato
print("\033[1;34m" + "type(dataframe)" + "\033[0m")
print("\033[1;35m" + "Obtener tipo de dato" + "\033[0m")
type(df)

type(dataframe)
Obtener tipo de dato

pandas.core.frame.DataFrame

In [44]:
# Redondear valores del dataframe
print("\033[1;34m" + "round(dataframe)" + "\033[0m")
print("\033[1;35m" + "Redondear valores del dataframe" + "\033[0m\n")
round(df.describe(),2)

round(dataframe)
Redondear valores del dataframe

       math score  reading score  writing score
count     1000.00        1000.00        1000.00
mean        66.09          69.17          68.05
std         15.16          14.60          15.20
min          0.00          17.00          10.00
25%         57.00          59.00          57.75
50%         66.00          70.00          69.00
75%         77.00          79.00          79.00
max        100.00         100.00         100.00