In [3]:
# Importar pandas
import pandas as pd

In [5]:
# Leyendo el archivo csv
df = pd.read_csv("StudentsPerformance.csv")

print("\033[1;34m" + "DATAFRAME" + "\033[0m\n")
df.head()

DATAFRAME

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

# Seleccionar 1 columna

## Syntax 1

In [7]:
# Seleccionar una columna con [] (forma preferida de seleccionar una columna)
print("\033[1;34m" + "COLUMNA GENDER" + "\033[0m\n")
df['gender']

COLUMNA GENDER

0      female
1      female
2      female
3        male
4        male
        ...
995    female
996      male
997    female
998    female
999    female
Name: gender, Length: 1000, dtype: object

In [9]:
# Revisar el tipo de dato de una columna
print("\033[1;35m" + "Tipo de Dato" + "\033[0m")
type(df['gender'])

Tipo de Dato

pandas.core.series.Series

In [27]:
# Series: atributos y métodos
print("\033[1;35m" + "Series: atributos y métodos" + "\033[0m")
df['gender'].index
df['gender'].head()
df['gender'].tail()

Series: atributos y métodos

995    female
996      male
997    female
998    female
999    female
Name: gender, dtype: object

## Syntax 2

In [11]:
# Seleccionar una columna con .
print("\033[1;34m" + "SELECCIONAR COLUMNA CON ." + "\033[0m\n")
df.lunch.tail()
df.lunch.head(20)

SELECCIONAR COLUMNA CON .

0         standard
1         standard
2         standard
3     free/reduced
4         standard
5         standard
6         standard
7     free/reduced
8     free/reduced
9     free/reduced
10        standard
11        standard
12        standard
13        standard
14        standard
15        standard
16        standard
17    free/reduced
18    free/reduced
19    free/reduced
Name: lunch, dtype: object

In [19]:
# Seleccionar una columna con . (errores que encontrarás)
# ERROR
# df.math score

print("\033[1;35m" + "Errores" + "\033[0m\n")
print("df.math score")

Errores

df.math score

In [23]:
# Seleccionar la misma columna con []
print("\033[1;34m" + "SELECCIONAR COLUMNA CON []" + "\033[0m\n")
df['math score']

SELECCIONAR COLUMNA CON []

0      72
1      69
2      90
3      47
4      76
       ..
995    88
996    62
997    59
998    68
999    77
Name: math score, Length: 1000, dtype: int64