In [1]:
import pandas as pd

In [11]:
# leyendo el archivo csv
df = pd.read_csv('StudentsPerformance.csv')

print("\033[1;34m" + "DATAFRAME" + "\033[0m\n")
df

DATAFRAME

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

# Value Counts

In [39]:
# Contar los elementos en la columna "gender"

# Función len
# print("\033[1;34m" + "FUNCIÓN LEN" + "\033[0m")
len(df.gender)

# Método .count()
print("\033[1;34m" + "COUNT()" + "\033[0m")
print("\033[1;35m" + "gender" + "\033[0m")
df.gender.count()

COUNT()
gender

1000

In [51]:
# Contar elementos "gender" por categoría
print("\033[1;34m" + "VALUE COUNTS()" + "\033[0m")
df['gender'].value_counts()

VALUE COUNTS()

gender
female    518
male      482
Name: count, dtype: int64

In [31]:
# Obtener frecuencia relativa (dividir todos los valores entre la suma de valores)
print("\033[1;35m" + "Frecuencia Relativa" + "\033[0m")
df['gender'].value_counts(normalize = True)

Frecuencia Relativa

gender
female    0.518
male      0.482
Name: proportion, dtype: float64

In [49]:
# Contar elementos de la columna "parental level of education" por categoría
df['parental level of education'].value_counts()

parental level of education
some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: count, dtype: int64

In [37]:
# obtener la frecuencia relativa  y redondear a 2 decimales
print("\033[1;35m" + "Frecuencia Relativa" + "\033[0m")
round(df['parental level of education'].value_counts(normalize = True), 2)

Frecuencia Relativa

parental level of education
some college          0.23
associate's degree    0.22
high school           0.20
some high school      0.18
bachelor's degree     0.12
master's degree       0.06
Name: proportion, dtype: float64