In [1]:
import pandas as pd

In [57]:
# Abrir archivo
df = pd.read_csv('sentimentdataset.csv')

print("\033[1;34m" + "DATAFRAME" + "\033[0m\n")
df.head()

DATAFRAME

,Unnamed: 0.1,Unnamed: 0,Text,Sentiment,Timestamp,User,Platform,Hashtags,Retweets,Likes,Country,Year,Month,Day,Hour
0,0,0,Enjoying a beautiful day at the park! ...,Positive,2023-01-15 12:30:00,User123,Twitter,#Nature #Park,15.0,30.0,USA,2023,1,15,12
1,1,1,Traffic was terrible this morning. ...,Negative,2023-01-15 08:45:00,CommuterX,Twitter,#Traffic #Morning,5.0,10.0,Canada,2023,1,15,8
2,2,2,Just finished an amazing workout! ðŸ’ª ...,Positive,2023-01-15 15:45:00,FitnessFan,Instagram,#Fitness #Workout,20.0,40.0,USA,2023,1,15,15
3,3,3,Excited about the upcoming weekend getaway! ...,Positive,2023-01-15 18:20:00,AdventureX,Facebook,#Travel #Adventure,8.0,15.0,UK,2023,1,15,18
4,4,4,Trying out a new recipe for dinner tonight. ...,Neutral,2023-01-15 19:55:00,ChefCook,Instagram,#Cooking #Food,12.0,25.0,Australia,2023,1,15,19

In [31]:
print("\033[1;35m" + "Forma" + "\033[0m")
df.shape

Forma

(732, 15)

In [35]:
print("\033[1;35m" + "Datos EstadÃ­sticos" + "\033[0m\n")
df.describe().round(2)

Datos EstadÃ­sticos

,Unnamed: 0.1,Unnamed: 0,Retweets,Likes,Year,Month,Day,Hour
count,732.00,732.00,732.00,732.00,732.00,732.00,732.00,732.00
mean,366.46,369.74,21.51,42.90,2020.47,6.12,15.50,15.52
std,211.51,212.43,7.06,14.09,2.80,3.41,8.47,4.11
min,0.00,0.00,5.00,10.00,2010.00,1.00,1.00,0.00
25%,183.75,185.75,17.75,34.75,2019.00,3.00,9.00,13.00
50%,366.50,370.50,22.00,43.00,2021.00,6.00,15.00,16.00
75%,549.25,553.25,25.00,50.00,2023.00,9.00,22.00,19.00
max,732.00,736.00,40.00,80.00,2023.00,12.00,31.00,23.00

In [39]:
print("\033[1;35m" + "Cantidad de Sentimientos" + "\033[0m\n")
df['Sentiment'].value_counts()

Cantidad de Sentimientos

Sentiment
Positive           44
Joy                42
Excitement         32
Neutral            14
Contentment        14
                   ..
Adrenaline          1
Harmony             1
ArtisticBurst       1
Radiance            1
Elegance            1
Name: count, Length: 279, dtype: int64

In [45]:
print("\033[1;35m" + "Porcentaje de Sentimientos" + "\033[0m\n")
round(df['Sentiment'].value_counts(normalize = True), 2)

Porcentaje de Sentimientos

Sentiment
Positive           0.06
Joy                0.06
Excitement         0.04
Neutral            0.02
Contentment        0.02
                   ...
Adrenaline         0.00
Harmony            0.00
ArtisticBurst      0.00
Radiance           0.00
Elegance           0.00
Name: proportion, Length: 279, dtype: float64

In [49]:
print("\033[1;35m" + "Porcentaje de Plataformas" + "\033[0m\n")
df['Platform'].value_counts(normalize = True).round(2)

Porcentaje de Plataformas

Platform
Instagram     0.35
Facebook      0.32
Twitter       0.17
Twitter       0.16
Name: proportion, dtype: float64

In [51]:
print("\033[1;35m" + "Porcentaje de Likes" + "\033[0m\n")
df['Likes'].value_counts(normalize = True).round(2)

Porcentaje de Likes

Likes
45.0    0.13
35.0    0.11
50.0    0.10
30.0    0.10
40.0    0.08
60.0    0.08
55.0    0.07
70.0    0.06
25.0    0.03
20.0    0.03
15.0    0.02
80.0    0.02
36.0    0.02
28.0    0.02
44.0    0.01
48.0    0.01
42.0    0.01
32.0    0.01
38.0    0.01
24.0    0.01
46.0    0.01
39.0    0.01
43.0    0.01
26.0    0.01
34.0    0.01
18.0    0.00
37.0    0.00
10.0    0.00
16.0    0.00
52.0    0.00
41.0    0.00
27.0    0.00
51.0    0.00
49.0    0.00
33.0    0.00
31.0    0.00
22.0    0.00
47.0    0.00
Name: proportion, dtype: float64